@page "/stores/create"
@inherits Core.ViewModels.ViewModelComponentBase<CreateStoreViewModel>
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components

<h3>Create Store</h3>

<EditForm Model="ViewModel.Store" OnValidSubmit="ViewModel.CreateAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label>Name:</label>
        <InputText @bind-value="ViewModel.Store.Name" />
    </div>
    <div>
        <label>Description:</label>
        <InputText @bind-value="ViewModel.Store.Description" />
    </div>
    <div>
        <label>Street:</label>
        <InputText @bind-value="ViewModel.Store.Address.Street" />
    </div>
    <div>
        <label>City:</label>
        <InputText @bind-value="ViewModel.Store.Address.City" />
    </div>
    <div>
        <label>State:</label>
        <InputText @bind-value="ViewModel.Store.Address.State" />
    </div>
    <div>
        <label>Zip Code:</label>
        <InputText @bind-value="ViewModel.Store.Address.ZipCode" />
    </div>
    <div>
        <label>Website:</label>
        <InputText @bind-value="ViewModel.Store.Website" />
    </div>
    <div>
        <label>Aisles (comma separated):</label>
        <InputText @bind-value="ViewModel.AislesInput" />
    </div>
    <div>
        <label>Group Id:</label>
        <InputText @bind-value="ViewModel.GroupIdInput" />
    </div>
    <button type="submit">Create</button>
</EditForm>

@if (!string.IsNullOrEmpty(ViewModel.Message))
{
    <div>@ViewModel.Message</div>
}

<a href="/stores">Back to Store List</a> 