<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">My Shopping App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column py-3" style="font-size: 1.25rem;">
        <NavLink class="nav-link d-flex align-items-center text-white gap-2" href="/" Match="NavLinkMatch.All" title="Home">
            <span class="bi bi-house-door-fill" aria-hidden="true"></span>
            <span>Home</span>
        </NavLink>
        <NavLink class="nav-link d-flex align-items-center text-white gap-2" href="/stores" title="Stores">
            <span class="bi bi-shop" aria-hidden="true"></span>
            <span>Stores</span>
        </NavLink>
        <NavLink class="nav-link d-flex align-items-center text-white gap-2" href="/users" title="Users">
            <span class="bi bi-people-fill" aria-hidden="true"></span>
            <span>Users</span>
        </NavLink>
        <NavLink class="nav-link d-flex align-items-center text-white gap-2" href="/groups" title="Groups">
            <span class="bi bi-people" aria-hidden="true"></span>
            <span>Groups</span>
        </NavLink>
    </nav>
</div>

